<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jemoje.shoeque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.StockOrderActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".activities.SuccessOrderActivity" />
        <activity android:name=".activities.ReviewOrderActivity" />
        <activity android:name=".activities.RecommendationActivity" />
        <activity android:name=".activities.OrderActivity" />
        <activity android:name=".activities.ScanActivity" />
        <activity
            android:name=".activities.AddShoesActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activities.ManageStockActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.DeleteUpdateUserActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.SuccessUpdateUserActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.UpdateUserActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.SuccessAddUserActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.AddUserActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activities.ManageUserActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.AdminMainMenuActivity"
            android:screenOrientation="fullSensor" >

        </activity>
        <activity
            android:name=".activities.StockMainMenuActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity android:name=".activities.LandingMenuActivity" />
        <activity android:name=".activities.MainMenuActivity" >
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>